spring:
  h2:
    console:
      enabled: true
      path: /h2
  ldap:
    embedded:
      ldif: classpath:test-server.ldif
      base-dn: dc=springframework,dc=org
      port: 8389
    connection:
      userDNPatterns: "uid={0},ou=people"
      groupSearchBase: "ou=groups"
      url: "ldap://localhost:8389/dc=springframework,dc=org"
      passwordAttribute: "userPassword"
      managerDN: null
      managerPassword: null
springdoc:
  writer-with-order-by-keys: true