spring:
  application:
    name: parodos-workflow-service

  jackson:
    serialization:
      indent-output: true

  jpa:
    hibernate:
      ddl-auto: none

  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${DATASOURCE_URL:jdbc:h2:mem:workflow_service}
    driverClassName:  ${DATASOURCE_DRIVER:org.h2.Driver}
    username: ${DATASOURCE_USERNAME:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}
    hikari:
      poolName: ${DATASOURCE_NAME}

  data:
    jpa:
      repositories:
        bootstrap-mode: deferred

  liquibase:
    change-log: classpath:/db/master.xml

  main:
    allow-bean-definition-overriding: true

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak_url:http://localhost:3434/realms/Parodos/protocol/openid-connect/certs}

springdoc:
  swagger-ui:
    tagsSorter: alpha


scan:
  packages: ${CONFIGURATION_PACKAGE:-}
