apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-service
spec:
  template:
    spec:
      containers:
      - name: workflow-service
        imagePullPolicy: IfNotPresent
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-service-config
data:
  DATASOURCE_URL: "jdbc:postgresql://postgres:5432/parodos"
  DATASOURCE_DRIVER: "org.postgresql.Driver"
  DATASOURCE_USERNAME: "parodos"
  DATASOURCE_PASSWORD: "parodos"
  SPRING_PROFILES_ACTIVE: "dev"
  NOTIFICATION_SERVER_ADDRESS: "notification-service.default.svc.cluster.local"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-service-config
data:
  SPRING_PROFILES_ACTIVE: "local"
